*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.mainDiv{
    border: 1px solid black;
    width: 400px;
    height: 220px;
    overflow: hidden;
    padding: 10px;
    background-color: #d5f7fc6c;
}

.input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
}



.CityInput{
    width: 210px;
    padding: 6px ;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #b7dcf1;
    box-shadow: 0 4px 15px rgba(114, 186, 245, 0.9);
}

#getWeatherBtn{
   padding: 5px;
   width : 75px;
   border: none;
   border-radius: 10px;
   font-weight: bold;
   background-color: greenyellow;
   box-shadow: 0 4px 15px rgba(131, 236, 11, 0.9);
}


#resultDiv{
    padding: 10px;
    
  
}

.weather-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 15px rgb(0, 0, 0, 0.1);
    border: 1px solid #eef2f3;
    transition: transform 0.2s ease;
}

.weather-card:hover{
    transform: translateY(-4px);
}

.weather-city{
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.weather-card p{
    color: #7f8c8d;
    font-size: 16px;
    margin: 2px ;
}

.weather-card p span{
    color: #34495e;
    font-weight: bold;
}